GOOGLE_CLOUD_PROJECT=your-gcp-project
GOOGLE_CLOUD_LOCATION=us-central1
AIP_ENDPOINT_ID=your-value
GOOGLE_GENAI_USE_VERTEXAI=true
#GOOGLE_CLOUD_API_KEY="AQ.Ab8RN6IXVpQEMnlJqF_GnipvzwJyJopuFZiOsjKHiFfPWXutyA"
WIZ_CLIENT_ID=your-client-id
WIZ_CLIENT_SECRET=CHANGE_ME
